{% extends 'base.html' %}

{% block content %}


    
<div class="container mt-5">
    <h1>Создание нового заказа</h1>
    <form method="post">
        {% csrf_token %}
        
        
        <div class="card mb-4">
            <div class="card-body">
                <h2 class="card-title">Информация о заказе</h2>
                {{ form.as_p }}
            </div>
        </div>
        <div class="mt-4">
            <button type="submit" class="btn btn-primary">Сохранить заказ</button>
            <a href="{% url 'list-order' %}" class="btn btn-secondary">Отмена</a>
        </div>
    </form>
</div>



    

{% endblock %}
