{% extends 'base.html' %}

{% block content %}
<h1>Список заказов</h1>

    <!-- Форма поиска -->
    <form method="get" action="{% url 'list-order' %}">
        <div class="search_str">
            <input type="text" name="search" placeholder="Поиск по номеру стола или статусу" value="{{ request.GET.search }}">
            <button type="submit">Найти</button>
        </div>
    </form>

    <!-- Таблица с заказами -->
    <table>
        <thead>
            <tr>
                
                <th>Стол</th>
                <th>Блюда</th>
                <th>Общая стоимость</th>
                <th>Статус</th>
                <th>Действия над заказом</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
                <tr>
                    
                    <td>{{ order.table_number }}</td>
                    <td>
                        <ul>
                            {% for item in order.items %}
                                <li>{{ item.name }} - {{ item.price }} ₽</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>{{ order.total_price }} ₽</td>
                    <td>{{ order.get_status_display }}</td>
                    <td>
                        <a href="{% url 'detail-order' order.id %}" class="btn btn-primary btn-sm">Просмотр</a>
                        <a href="{% url 'update-order' order.id %}" class="btn btn-primary btn-sm">Обновить</a>
                        <a href="{% url 'del-order' order.id %}" class="btn btn-primary btn-sm">Удалить</a>
        
                       
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5">Заказы не найдены.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
<h3><a href="{% url 'add-order' %}" class="btn btn-warning btn-sm">Добавить новый заказ</a></h3>
<h3><a href="{% url 'calc-revenue' %}" class="btn btn-warning btn-sm">Расчет выручки</a></h3>
{% endblock %}
